*, *::before, *::after {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    gap: 1em;
    margin-right: 1em;
}

li {
    list-style-type: none;
}

.navbar p {
    font-size: 0.75rem;
    font-weight: 700;
}